@import 'tailwindcss';
@import '@fontsource-variable/jetbrains-mono';

html {
    scrollbar-gutter: stable;
}

body {
    font-family: 'JetBrains Mono Variable', monospace;
    background-color: var(--color-zinc-900);
    color: var(--color-zinc-400);
    -webkit-font-smoothing: antialiased;
}
